template(name='chat_rooms')

  .row
    #room_1.col-md-4.room
      h3 1
      each users_in_room 1
        img(class='avatar' src=profile.avatar title='profile_pic')

    #room_2.col-md-4.room
      h3 2
      each users_in_room 2
        img(class='avatar' src=profile.avatar title='profile_pic')

    #room_3.col-md-4.room
      h3 3
      each users_in_room 3
        img(class='avatar' src=profile.avatar title='profile_pic')

  .row
    #room_4.col-md-4.room
      h3 4
      each users_in_room 4
        img(class='avatar' src=profile.avatar title='profile_pic')

    #room_5.col-md-4.room
      h3 5
      each users_in_room 5
        img(class='avatar' src=profile.avatar title='profile_pic')

    #room_6.col-md-4.room
      h3 6
      each users_in_room 6
        img(class='avatar' src=profile.avatar title='profile_pic')

  .row
    #room_7.col-md-4.room
      h3 7
      each users_in_room 7
        img(class='avatar' src=profile.avatar title='profile_pic')

    #room_8.col-md-4.room
      h3 8
      each users_in_room 8
        img(class='avatar' src=profile.avatar title='profile_pic')

    #room_9.col-md-4.room
      h3 9
      each users_in_room 9
        img(class='avatar' src=profile.avatar title='profile_pic')
